<h1>Location</h1>
<a href="/about/all">About Page</a>
<p></p>
<a href="/user/all">Users - View All</a>
<p></p>
<a href="/name/all">Names - View All</a>
<p></p>
<a href="/cash/all">Bank - View All</a>
<p></p>

<p>Add new Location: state, country</p>
<form action="/location/all" method="get">
    <input type="text" name='location[state]'>
    <input type="text" name='location[country]'>
    <button type="Submit">Submit</button>
</form>
<table>
    <thead>
    <tr>
        <td>State</td>
        <td>Country</td>
        <td>Delete</td>
        <td>ID</td>
    </tr>
    </thead>
    <tbody>
    <% response.forEach(function(i) { %>
    <tr>
        <td><%= i.state %></td>
        <td><%= i.country %></td>
        <td><%= i.location_id %></td>
        <td><a href="/location/delete/<%=i.location_id%>">Delete</a></td>
    </tr>
    <% }); %>
    </tbody>
</table>
<p>Update a record<p>
<div><div>
    </div> State, Country, ID </div>
<form action="/location/edit" method="POST">
    <input type="text" name="location[state]">
    <input type="text" name="location[country]">
    <input type="text" name="location[location_id]">
    <button type="submit">Submit</button>
</form>