<%- include("./includes/header.ejs", {title: title}); %>

<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<a href="/about/all">About Page</a>
<p></p>
<a href="/user/all">Users - View All</a>
<p></p>
<a href="/location/all">Location - View All</a>
<p></p>
<a href="/name/all">Names - View All</a>
<p></p>
<a href="/cash/all">Bank - View All</a>

<br />

<%- include("./includes/footer.ejs"); %>