<h1>Bank</h1>
<a href="/about/all">About Page</a>
<p></p>
<a href="/user/all">Users - View All</a>
<p></p>
<a href="/location/all">Location - View All</a>
<p></p>
<a href="/name/all">Names - View All</a>
<p></p>

<p>Add Cash: Cash ID, Money</p>
<form action="/cash/all" method="POST">
    <input type="text" name='cash[cash_id]'>
    <input type="text" name='cash[cash_amount]'>
    <button type="Submit">Submit</button>
</form>
<table>
    <thead>
    <tr>
        <td>Cash ID</td>
        <td>Money</td>
        <td>Delete</td>
    </tr>
    </thead>
    <tbody>
    <% response.forEach(function(i) { %>
    <tr>
        <td><%= i.cash_id %></td>
        <td><%= i.cash_amount %></td>
        <td><a href="/cash/delete/<%=i.cash_id%>">Delete</a></td>
    </tr>
    <% }); %>
    </tbody>
</table>
<p>Update a record Cash ID, Money</p>
<form action="/cash/edit" method="POST">
    <input type="text" name="cash[cash_id]">
    <input type="text" name="cash[cash_amount]">
    <button type="submit">Submit</button>
</form>