<%- include("../includes/header.ejs", {title: "Update " + user.user_name}); %>

<h1>Update <%= user.user_name%></h1>
<form action="/user/update" method="get">
    <input type="hidden" id="user_id" name="user_id" value="<%= user.user_id %>">
    User Name: <input id="user_name" name="user_name" type="text" value="<%= user.user_name%>"/>
    <br />
    <br />
    Location <br />
    <select id="location_id" name="location_id" multiple="multiple">
        <% for(var i=0; location.length > i; i++ ) {
            var selected = "";

            if(location[i].user_id != null) {
                selected = "selected";
            }
        %>
        <option value="<%= location[i].location_id %>" <%= selected %> ><%= location[i].state + ', ' + location[i].country %></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#location_id').multiselect();
        });
    </script>

    <br />

    <input type="submit" />

</form>

<%- include("../includes/footer.ejs"); %>

</html>