<%- include("../includes/header.ejs", {title:"Add New User"}); %>
    <h1>Add New User</h1>
    <form action="/user/insert" method="POST">
        User Name: <input id="user_name" name="user_name" type="text" />
        <br />
        <br />
        Location
        <br />
        <select id="location_id" name="location_id" multiple="multiple">
            <% for(var i=0; location.length > i; i++ ) { %>
                <option value="<%= location[i].location_id %>"><%= location[i].state + ', ' + location[i].country %></option>
            <% } %>
        </select>

        <!-- Initialize the multiselect plugin: -->
        <script type="text/javascript">
            $(document).ready(function() {
                $('#location_id').multiselect();
            });
        </script>


        <br />
        <input type="submit" />

    </form>
<%- include("../includes/footer.ejs"); %>