<%- include("../includes/header.ejs", {title:"Users - " + result[0].user_name}); %>
    <h1>Users</h1>
    <ul>
        <li>User Name: <%= result[0].user_name %></li>
        <li>Location:
            <ul>
                <% for(var i=0; result.length > i; i++ ) { %>
                    <li><%= result[i].state + ', ' + result[i].country %></li>
                <% } %>
            </ul>
        </li>
    </ul>

<a href="/user/all"><< back</a>

<%- include("../includes/footer.ejs"); %>