<h1>Users</h1>
<a href="/about/all">About Page</a>
<p></p>
<a href="/location/all">Location - View All</a>
<p></p>
<a href="/name/all">Names - View All</a>
<p></p>
<a href="/cash/all">Bank - View All</a>
<p></p>
        <a href="/user/add">Add New User</a> <br />

        <br />

        <table border="1">
            <tr><th>Name</th><th>Actions</th></tr>
            <% for(var i=0; result.length > i; i++ ) { %>
            <tr>
                <td><a href="/user/?user_id=<%= result[i].user_id %>"><%= result[i].user_name %></a></td>
                <td>
                    <button onclick="event.preventDefault();window.location.href='/user/edit/?user_id=<%= result[i].user_id %>'">Edit</button>
                    <form action="/user/delete/" style="display:inline;">
                        <input type="hidden" name="user_id" id="user_id" value="<%= result[i].user_id %>" />
                        <input type="submit" value="Delete"/>
                    </form>

                </td>
            </tr>
            <% } %>
        </table>
<%- include("../includes/footer.ejs"); %>