<h1>About Page</h1>
<p></p>
<a href="/user/all">Users - View All</a>
<p></p>
<a href="/location/all">Location - View All</a>
<p></p>
<a href="/name/all">Names - View All</a>
<p></p>
<a href="/cash/all">Bank - View All</a>
<p></p>

<br>
The purpose of my database is to allow gamers from across the country to gather together to play against one another for<p></p>
both money and gamer score. The user can decide whether or not he would like to use the database simply to gamble or to<p></p>
get enough gamer score to be considered a professional and become eligible to compete at vast in person events.<p></p>
The database acts as a middle man to hold cash for players while the match is being played and then distributing it to<p></p>
the winning team. Depending on the ranking of the team someone is playing against the better increase in gamer score they<p></p>
will get for winning. The same applies for losing, more gamer score will be deducted from each player if a high ranked<p></p>
team loses to a lower ranked team. The tables in my database include user, name, location, and cash. User records the<p></p>
username, gamertag, and gamer score. Each user has a gamer id and is the primary key when identifying the user. The users’<p></p>
username and gamertag are both unique and cannot repeat. Name records the users’ first and last name allowing for duplicates<p></p>
and has a primary key known as user id which relates to their gamer id, the foreign key. Location records the users’ state<p></p>
and country in which they reside in and relates the primary key known as location id to the foreign key known as user id<p></p>
which in turn relates back to their gamer id. Finally, cash records the users stored earnings in the database and allows<p></p>
the player to play money matches. The table consists of their cash amount and a cash id being the primary key of the table<p></p>
to relate to location id the foreign key of the table which in turn links all tables together. Each query is useful as it<p></p>
holds data that becomes specific to the user the tables become linked together to display each users’ information while<p></p>
also keeping certain items alterable and leaving certain items untouchable to the user. The user can change their first<p></p>
name, last name, username, gamertag, and location; however, by separating the tables the user can’t falsify the amount of<p></p>
cash linked to their profile.
<br>

<%- include("../includes/footer.ejs"); %>