<h1>Names</h1>
<a href="/about/all">About Page</a>
<p></p>
<a href="/user/all">Users - View All</a>
<p></p>
<a href="/location/all">Location - View All</a>
<p></p>
<a href="/cash/all">Bank - View All</a>
<p></p>

<p>Add new name: Name ID, First Name, Last Name</p>
<form action="/name/all" method="POST">
    <input type="text" name='name[name_id]'>
    <input type="text" name='name[first_name]'>
    <input type="text" name='name[last_name]'>
    <button type="Submit">Submit</button>
</form>
<table>
    <thead>
    <tr>
        <td>Name ID</td>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Delete</td>
    </tr>
    </thead>
    <tbody>
    <% response.forEach(function(i) { %>
    <tr>
        <td><%= i.name_id %></td>
        <td><%= i.first_name %></td>
        <td><%= i.last_name %></td>
        <td><a href="/name/delete/<%=i.last_name%>">Delete</a></td>
    </tr>
    <% }); %>
    </tbody>
</table>
<p>Update a record Name ID, First Name, Last Name</p>
<form action="/name/edit" method="POST">
    <input type="text" name="name[name_id]">
    <input type="text" name="name[first_name]">
    <input type="text" name="name[last_name]">
    <button type="submit">Submit</button>
</form>